name: "Firefox HAOS Kiosk"
version: "1.0.4"
slug: "kiosk_firefox_final"
description: "Firefox en mode Kiosk pour Home Assistant OS, avec auto-login et REST API."
url: "https://github.com/atila593/lutumbahaoskiosk"
arch:
  - amd64
  - aarch64
  - armv7

build_from:
  amd64: ghcr.io/home-assistant/amd64-base:latest
  aarch64: ghcr.io/home-assistant/aarch64-base:latest
  armv7: ghcr.io/home-assistant/armv7-base:latest

map:
  - config:rw
  - share:rw
  - media:rw

host_network: true
host_dbus: true
apparmor: false
full_access: true
privileged: true

devices:
  - /dev/dri:/dev/dri:rwm
  - /dev/tty0:/dev/tty0:rwm
  - /dev/tty1:/dev/tty1:rwm
  - /dev/fb0:/dev/fb0:rwm
  - /dev/console:/dev/console:rwm

udev: true

ports:
  8080/tcp: 8080

ports_description:
  8080/tcp: "Port REST API pour les commandes distantes"

environment:
  DISPLAY: ":0"

options:
  ha_username: ""
  ha_password: ""
  ha_url: "http://homeassistant.local:8123"
  ha_dashboard: ""
  login_delay: 1.0
  zoom_level: 100
  browser_refresh: 600
  screen_timeout: 0
  output_number: 1
  rotate_display: "normal"
  dark_mode: true
  ha_sidebar: false
  cursor_timeout: 5
  map_touch_inputs: false
  keyboard_layout: "fr"
  onscreen_keyboard: false
  save_onscreen_config: true
  xorg_conf: ""
  xorg_append_replace: "append"
  rest_port: 8080
  rest_authorization_token: ""
  allow_user_commands: false
  debug_mode: false

schema:
  ha_username: str
  ha_password: password
  ha_url: str
  ha_dashboard: str?
  login_delay: float(0.1,10.0)
  zoom_level: int(50,200)
  browser_refresh: int(0,86400)
  screen_timeout: int(0,86400)
  output_number: int(1,10)
  rotate_display: list(normal|left|right|inverted)
  dark_mode: bool
  ha_sidebar: bool
  cursor_timeout: int
  map_touch_inputs: bool
  keyboard_layout: str
  onscreen_keyboard: bool
  save_onscreen_config: bool
  xorg_conf: str
  xorg_append_replace: list(append|replace)
  rest_port: port
  rest_authorization_token: str
  allow_user_commands: bool
  debug_mode: bool

init: false
watchdog: "tcp://[HOST]:8080"
tmpfs: true
