name: "HA Kiosk Display New"
description: |
Lance le serveur X-Windows et le navigateur Lutumba pour afficher les tableaux de bord en mode kiosque sur le serveur HAOS local.
version: "1.1.8"
slug: "ha_kiosk_new"

arch:

amd64

aarch64

armv7

startup: application
host_network: true
init: false
ingress: true
homeassistant_api: true
auth_api: true

devices:

/dev/dri/card0

/dev/dri/card1

/dev/dri/renderD128

host_devices:

/dev/input

map:

addon_config:rw

privileged:

SYS_ADMIN

options:
ha_url: "http://localhost:8123"
ha_dashboard: ""
login_delay: 1.0
zoom_level: 100
browser_refresh: 600
screen_timeout: 0
output_number: 1
dark_mode: true
ha_sidebar: "hidden"
rotate_display: "normal"
map_touch_inputs: true
keyboard_layout: fr
cursor_timeout: 5
onscreen_keyboard: false
save_onscreen_config: true
xorg_conf: ""
xorg_append_replace: "append"
allow_user_commands: false
rest_port: 8080
rest_bearer_token: ""
debug_mode: false

schema:
ha_username: str
ha_password: password
ha_url: str
ha_dashboard: str
login_delay: float
zoom_level: int(1,300)
browser_refresh: int(0,3600)
screen_timeout: int(0,3600)
output_number: int(1,4)
dark_mode: bool
ha_sidebar: list(none|hidden|visible|top)
rotate_display: list(normal|left|inverted|right)
map_touch_inputs: bool
cursor_timeout: int(0,3600)
keyboard_layout: str
onscreen_keyboard: bool
save_onscreen_config: bool
xorg_conf: str
xorg_append_replace: list(append|replace)
rest_port: port
rest_bearer_token: str
allow_user_commands: bool
debug_mode: bool
